node_modules
.expo
.expo-shared
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.env
.env.*
!.env.example
google-services.json
google-services*.json
android/app/keystore.jks
*.jks
*.keystore
android/.gradle
android/app/build
android/build
*.apk
*.aab
