rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == "admin";
    }
    function isOperator() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == "operator";
    }

    match /users/{userId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow create, update, delete: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    match /roles/{userId} {
      allow read: if isSignedIn();
      allow create: if isAdmin() || (isSignedIn() &&
        request.auth.uid == userId &&
        request.resource.data.uid == request.auth.uid &&
        request.resource.data.role in ["operator", "staff"]);
      allow update, delete: if isAdmin();
    }

    match /machines/{machineId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /logs/{logId} {
      allow read, update, delete: if isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid);
      allow create: if isAdmin() || (isOperator() && request.resource.data.userId == request.auth.uid);
    }

    match /attendance/{attendanceId} {
      allow read: if isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid);
      allow create: if isAdmin() || (isSignedIn() && request.resource.data.userId == request.auth.uid);
      allow update, delete: if isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid);
    }

    match /salaryConfigs/{userId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isAdmin();
    }

    match /salarySettlements/{docId} {
      allow read: if isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid);
      allow write: if isAdmin();
    }
  }
}
